nav{
    background-color: #1A187A;
}

.carousel-indicators button.active{
    background-color: brown;

}
.carousel-indicators button{
    background-color: brown !important;
}

body{
    background-color:  #FAFAFA;
}

.cat-card{
    position: relative;
    display: flex;
    justify-content: center;
    width: 160px;
    height: 128px;
    border-radius: 16px;
    background-color: #EDEDED;
    text-align: center;
}

.vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }